@media screen and (max-width: 700px) {
    .aside {
        width: 30%;
    }
}

@media screen and (max-width: 420px) {
    .aside {
        width: 100%;
        display: flex;
        justify-content: space-around;
    }

    .bio{
        width: 42%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .aside nav{
        width: 45%;
    }
}

.aside a {
    text-decoration: none;

    display: flex;
    align-items: center;
    gap: .3em;
}

.aside a img,
.aside nav img {
    object-fit: contain;
    width: 2em;

    margin: 0 .3em;
}

.aside a p,
.aside nav p {
    color: var(--blueDark);

    font-size: 90%;
    font-weight: 500;
}

.navbar li {
    background-color: var(--turquoisePastel);
    cursor: pointer;
}