.header {
    height: 5.5vh;
    background: linear-gradient(var(--blueDark), var(--blueMedium), var(--blueDark));

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 1vw;
}

.logoBg {
    background: linear-gradient(white 60%, var(--grayMedium));
    width: 15vw;
}

@media screen and (max-width: 1000px) {
    .logoBg {
        width: 20vw;
    }
}

@media screen and (max-width: 800px) {
    .logoBg {
        width: 30vw;
    }
}

@media screen and (max-width: 500px) {
    .logoBg {
        width: 50vw;
    }
}

.resumeLink {
    margin-right: 8em;
    text-decoration: none;
    color: white;
    font-weight: 500;
}

.resumeLink:hover {
    color: white;
    opacity: 90%;
}

@media screen and (max-width: 420px) {
    .resumeLink {
      margin-right: 4em;
    }
  }